:root {
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.div-com-traco {
  width: 100%;
      height: 1px;
      background-color: #161515; /* Cor do traço */
      margin: 10px 0; /* Margens superior e inferior para espaçamento */
}
